@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: outfit;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(mono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav{
  position: fixed;
  display: flexbox;
  clear: both;
  top: 0px;
  margin-top: 20px;
}
h2{
  font-size: 40px;
}

.box{
  /*background-color: white;*/
  width: 450px;
  color: #242828;
  /*border: 1.5px solid #42484850;*/
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(10px);
  height: 380px;
  padding: 5px;
}

.box h1{
  font-size: 36px;
  text-align: center;
}

.box .input-box{
  height: 50px;
  width: 70%;
  justify-content: center;
  position: relative;
  margin: 30px auto;
}

.box input{
  background: transparent;
  height: 100%;
  width: 100%;
  border: 2px solid #242828;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  padding-left: 20px;
  text-transform: lowercase;
}

.input-box input::placeholder{
  color: #242828;
  text-transform: capitalize;

}
.input-box i{
  position: absolute;
  right: 20px;
  top: 35%;
  transform: translate(-50%);
}

.btn{
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 40px;
  outline: none;
  border: #3a3f3f;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn:hover{
  color: white;
  background-color: #242828cc;
}
.cr{
  clear: both;
  display: flexbox;
  position: fixed;
  bottom: 0;
  color: white;

}